#toolbar button {
    padding: 30px;
    position: relative;
}

#tools-parameters {
    top: 100px;
    position: relative;
}

#tool-changecontrast-param {
    top: -75px;
    position: relative;
}

#tool-changecontrast-input {
    position: relative;
    width: 80px;
    left: 5px;
}

#tools-parameters textarea:focus, input:focus {
    color: #0000ff;
}

#tools-parameters input, select, textarea {
    color: #000
}

#tools-parameters .alert {
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}