<!-- uncomment the following code to see list of registered users -->
<!--<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>-->
<div class="my-photo-header">
    <div class="container">
        <a class="navbar-brand my-navbar-brand">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <form class="navbar-form my-navbar-form navbar-left">
            <div>
                <input id="photo-title" type="text" class="form-control" placeholder="Untitled"
                       title="Edit your photo title here." value="{{vm.title}}">
            </div>
        </form>
        <ul id="photo-title-header" class="nav nav-tabs">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    File <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a id="save_link">Save</a></li>
                    <li>
                        <a id="upload_link">Upload</a>
                        <input id="upload" style="display:none;" type="file" file-model="myFile"/>
                    </li>
                    <li>
                        <a id="open_link">Open</a>
                    </li>
                    <li>
                        <a id="invite_link">Invite</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a ng-click="alert('You may right-click on the canvas to save your photo to your local disk!')">
                            Export<span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Please change TODO display the number of revisions, and maybe change style to not be a tab -->
            <li role="listitem"><a id="revisions_link">revisions</a></li>
            <li><a href="#/login" class="btn btn-primary">Logout</a></li>
        </ul>
    </div>
</div>
<div id="invite_message" style="display:none;">
    <p>Pho is about editing your photo together with your friends. Send this link
    <a href="{{vm.url}}">{{vm.url}}</a>
    to a friend! (Or open a new page yourself)
        <a id="hide_invite_link" href="#"> Cancel </a>
    </p>
</div>
<div class="open_box_container">
    <div id="open" style="display:none;" class="open_box_center well">
        <div class="row">
        <div class="col-xs-6 col-md-3" data-ng-repeat="(key, value) in vm.photosOfUser">
            <a href="#/edit/{{key}}" class="thumbnail">
                <img data-ng-src="data:image/png;base64, {{value}}" data-err-src="./images/icon.png"><!--alt="{{key}}"-->
            </a>
        </div>
        </div>
        <div>
            <a id="hide_open_link" href="#">Cancel</a>
        </div>
    </div>
</div>
<div class="revisions_container">
    <div id="revisions" style="display:none;" class="panel panel-info">
        <div class="panel-heading">
            Revisions
            <a href="#" id="hide_revisions_link"><span class="glyphicon glyphicon-remove pull-right"></span></a>
        </div>
        <table class="table revisions-table">
            <tr>
                <th>Version</th>
                <th>Time Created</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            <tr data-ng-repeat="version in vm.revisionsOfPhoto | orderBy: '-'">
                <td>{{version.versionId}}</td>
                <td>{{version.createdTime}}</td>
                <td>{{version.userId}}</td>
                <td>
                    <a id="previewVersion" ng-click="vm.previewVersion(version.versionId)">Preview</a>
                    <a id="revert" ng-click="vm.revertToVersion(version.versionId)">Revert</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="preview-revision col-sm-7">
    <div id="preview_a_version" class="panel panel-info" style="display:none;">
        <div class="panel-heading">
            Preview
            <a ng-click="vm.hidePreviewVersion()"><span class="glyphicon glyphicon-remove pull-right"></span></a>
        </div>
        <img data-ng-src="data:image/png;base64, {{vm.previewVersionData}}">
    </div></div>
</div>
<div class="container">
    <div class="col-sm-3">
        <div id="toolbar" class="my-toolbar btn-group-vertical btn-group-lg btn-block" role="toolbar">
            <!-- TODO: How to make the dropdown next to filter button? -->
            <button type="button" ng-click="" class="btn btn-lg btn-default btn-block dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
            <ul class="dropdown-menu">
                <li><a ng-click="vm.currentTool = 'blur'">Blur</a></li>
                <li><a ng-click="vm.currentTool = 'changecontrast'">ChangeContrast</a></li>
                <li><a ng-click="vm.currentTool = 'edgedetect'">EdgeDetection</a></li>
            </ul>
            <button type="button" ng-click="vm.currentTool = 'select';vm.tapSelect()" class="btn btn-lg btn-default btn-block">Selection</button>
            <button type="button" ng-click="vm.currentTool = 'pencil'" class="btn btn-lg btn-default btn-block">Pencil</button>
        </div>
        <div id="tools-parameters">
            <div id="tool-blur" ng-if="vm.currentTool=='blur'">
                <button type="submit" class="btn btn-default" ng-click="vm.doBlur()">Apply</button>
            </div>
            <div id="tool-changecontrast" ng-if="vm.currentTool=='changecontrast'">
                <div id="tool-changecontrast-param">
                    <p class="alert alert-info">Please enter your desired contrast ratio.
                        Values greater than 1 will add contrast; values between 0 and 1 will decrease contrast.</p>
                    Contrast ratio: <input id="tool-changecontrast-input" ng-model="vm.contrastRatio" type="number">
                    <button type="submit" class="btn btn-default" ng-click="vm.doContrastChange()">Apply</button>
                </div>
            </div>
            <div id="tool-edgedetect" ng-if="vm.currentTool=='edgedetect'">
                <button type="submit" class="btn btn-default" ng-click="vm.doEdgeDetect()">Apply</button>
            </div>

            <div id="tool-selection" ng-hide="!(vm.currentTool=='select')">
                Select an area
            </div>
            <div id="tool-pencil" ng-hide="!(vm.currentTool=='pencil')">
                Coming soon!
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="canvas" style="overflow:auto">
            <img id="canvas_image" data-ng-src="data:image/png;base64, {{vm.canvasData}}" data-err-src="./images/icon.png" border="1px">

            <!--<div id="heads_up" ng-if="!vm.hasCanvasData()" class="jumbotron">
                <h1>Hello, {{vm.user.firstName}}!</h1>
                <P>It seems that you have not selected a photo. To begin your journey with Pho, you need to choose a photo from your portfolio.</P>
                <p>If you have uploaded a photo, just go to File -> Open.</p>
                <p>Enjoy!</p>
            </div>-->
        </div>
        <!-- TODO: "Make a comment" form -->
        <div id="comments">
            <!-- TODO: Show list of comments -->
        </div>
    </div>
</div>