<!-- uncomment the following code to see list of registered users -->
<!--<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>-->
<div class="my-photo-header">
    <div class="container">
        <a class="navbar-brand my-navbar-brand">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <form class="navbar-form my-navbar-form navbar-left" role="search">
            <div>
                <input id="photo-title" type="text" class="form-control" placeholder="Untitled"
                       title="Edit your photo title here." value="TITLE">
            </div>
        </form>
        <ul id="photo-title-header" class="nav nav-tabs">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    File <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a>Save</a></li>
                    <li>
                        <a id="upload_link">Upload</a>
                        <input id="upload" style="display:none;" type="file" file-model="myFile"/>
                    </li>
                    <li>
                        <a id="open_link">Open</a>
                    </li>
                    <li>
                        <a id="invite_link">Invite</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a>Export as<span class="caret"></span></a></li>
                    <li><a>Print</a></li>
                </ul>
            </li>
            <!-- Please change TODO to display the number, and maybe change style to not be a tab -->
            <li role="listitem"><a>{{TODO}} revisions</a></li>
            <li><a href="#/login" class="btn btn-primary">Logout</a></li>
        </ul>
    </div>
</div>
<div class="invite_message" style="display:none;">
    Waiting for a second player. Send this
    <a href="{{url}}">link</a>
    to a friend! Or open a new page yourself
</div>
<div class="open_box_container">
    <div id="open" style="display:none;" class="open_box_center">
        <div class="col-xs-6 col-md-3">
            <a href class="thumbnail"  data-ng-repeat="(key, value) in vm.photosOfUser" ng-click="vm.tapFilter">
                <img data-ng-src="data:image/png;base64, {{value}}" data-err-src="./images/icon.png"><!--alt="{{key}}"-->
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-3">
        <div id="toolbar" class="my-toolbar btn-group-vertical btn-group-lg btn-block" role="toolbar">
            <!-- TODO: Maybe make dropdown, for filter type selection, etc. -->
            <button type="button" ng-click="vm.tapFilter()" class="btn btn-lg btn-default btn-block">Filters</button>
            <button type="button" class="btn btn-lg btn-default btn-block">Selection</button>
            <button type="button" class="btn btn-lg btn-default btn-block">Pencil</button>
        </div>
        <div id="tools-parameters">
            <!-- TODO: Show inputs of parameters, depending on which tool is selected -->
        </div>
    </div>
    <div>
        <canvas id="canvas"></canvas>
        <!-- TODO: "Make a comment" form -->
        <div id="comments">
            <!-- TODO: Show list of comments -->
        </div>
    </div>
</div>